{% extends "base.html" %}
{% block content %}

<div>
	<a href="{% url 'logout' %}">logout</a>
	{% if user.is_patient %}
	<a href="{% url 'accounts:patient:list' %}">list</a>
	{% else %}
	<a href="{% url 'accounts:doctor:list' %}">list</a>
	{% endif %}
</div>
<div class='col-sm-6 col-sm-offset-3'>

	<h3>username: {{ user }}</h3>

	{% for key, value in user_fields.items %}
	<h3>{{ key }}: {{ value }}</h3>
	{% endfor %}

</div>
<div>
<br>
	<a href="{% url 'accounts:doctor:update' pk=object.pk %}">update</a>

</div>
{% endblock content %}