{% extends "base.html" %}
{% block content %}

<a href="{% url 'logout' %}">logout</a>

{% if user.is_patient %}
<a href="{% url 'accounts:patient:list' %}">list</a>
{% else %}
<a href="{% url 'accounts:doctor:list' %}">list</a>
{% endif %}

<div class='col-sm-6 col-sm-offset-3'>
	<h1>{{ title }}</h1>
	<h2>{{ user_type }}</h2>
	<p>Login user:

		{% if user.is_doctor %}
			<a href="{{ user.doctor.get_absolute_url }}">
		{% else %}
			<a href="{{ user.patient.get_absolute_url }}">
		{% endif %}
			{{ user.username }}</a>
	</p>
	<p><br></p>
	{% for obj in object_list %}
	<div class="row">
		<div class="col-sm-12">
			<div>
				<p>{{obj.user.username}} | </p>
			</div>
		</div>
		<hr/>
	</div>
	{% endfor %}
</div>

{% endblock content %}